@{
	ViewData["TiTle"] = "Về chúng tôi";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main-content">
	<div class="breadcrumb-area breadcrumb-height" data-bg-image="/assets/images/banner/2-1-1920x523.jpg">
		<div class="container h-100">
			<div class="row h-100">
				<div class="col-lg-12">
					<div class="breadcrumb-item">
						<h2 class="breadcrumb-heading">Giới thiệu</h2>
						<ul>
							<li><a href="/">Trang chủ <i class="pe-7s-angle-right"></i></a></li>
							<li>Giới thiệu</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about-banner different-bg-position section-space-y-axis-100" data-bg-image="~/assets/images/about/banner/1-1-1920x598.jpg">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-5">
					<div class="parallax-img-wrap">
						<div class="papaya">
							<div class="scene fill">
								<div class="expand-width" data-depth="0.2">
									<img width="560" height="315" src="~/assets/images/banner/harmic.jpg" alt="Banner Images">
								</div>
							</div>
						</div>
					</div>
					<br />
					<div>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/MpWvth1N_IY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
										clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-xl-6 col-lg-7 align-self-center">
					<div class="about-banner-content">
						<div class="section-title">
							<span class="sub-title">Welcome To Harmic</span>
							<h2 class="title font-size-60 mb-6">Best Organic Shop</h2>
							<p class="short-desc mb-0">
								Shop bán thực phẩm của chúng tôi là một cửa hàng chuyên cung cấp các sản phẩm thực phẩm tươi ngon, an toàn và chất lượng cao. Chúng tôi cam kết đem đến cho khách hàng những sản phẩm thực phẩm sạch, được sản xuất từ các nguồn cung cấp đáng tin cậy và được kiểm tra nghiêm ngặt trước khi đưa vào bán.
								Chúng tôi cung cấp đa dạng các loại thực phẩm như rau củ quả tươi, thịt, hải sản, sữa và sản phẩm chế biến từ chúng như bánh, nước ép, nước trái cây, đồ ăn sáng và nhiều sản phẩm khác. Chúng tôi cũng có các sản phẩm cho người ăn kiêng như rau quả hữu cơ, thực phẩm không chất bảo quản, đồ uống detox và nhiều sản phẩm khác.
								Với mong muốn mang lại sự tiện lợi cho khách hàng, chúng tôi cung cấp dịch vụ giao hàng tận nơi với thời gian nhanh chóng và chất lượng đảm bảo. Ngoài ra, chúng tôi cũng có các ưu đãi và giảm giá cho khách hàng thường xuyên mua hàng tại cửa hàng của chúng tôi.
								Với đội ngũ nhân viên giàu kinh nghiệm và thân thiện, chúng tôi cam kết sẽ đem lại cho khách hàng sự hài lòng và niềm tin tuyệt đối khi sử dụng sản phẩm của chúng tôi.
								Cảm ơn bạn đã quan tâm đến shop bán thực phẩm của chúng tôi. Chúng tôi hy vọng sẽ được phục vụ bạn trong thời gian tới.
							</p>
							<div class="button-wrap pt-8">
								<a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="/Home/Product">Shop Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<div class="shipping-area section-space-y-axis-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="shipping-item">
					<div class="shipping-img">
						<img src="/assets/images/shipping/icon/plane.png" alt="Shipping Icon">
					</div>
					<div class="shipping-content">
						<h5 class="title">Giao hàng miễn phí</h5>
						<p class="short-desc mb-0">Với đơn hàng từ 500k</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pt-6 pt-md-0">
				<div class="shipping-item">
					<div class="shipping-img">
						<img src="/assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
					</div>
					<div class="shipping-content">
						<h5 class="title">Hỗ trợ 24/7</h5>
						<p class="short-desc mb-0">Hotline: <a href="tel:0964127981"><strong>096412781</strong></a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
				<div class="shipping-item">
					<div class="shipping-img">
						<img src="/assets/images/shipping/icon/shield.png" alt="Shipping Icon">
					</div>
					<div class="shipping-content">
						<h5 class="title">Giờ làm việc</h5>
						<p class="short-desc mb-0">Từ 6h00 - 19h30 hàng ngày</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script src="~/js/search.js"></script>
}